<div class="d-flex row justify-content-center">
  <div class="mt-3">
    <h1>Products List</h1>
    <div
      class="d-flex flex-wrap justify-content-around mt-4"
      id="product-list-container"
    >
      {{#if status}}
        {{#each list}}
          <div class="card card-product" style="width: 18rem;">
            <img
              class="card-img-top"
              src="/static/img/{{this.thumbnail}}"
              alt="{{this.title}}"
            />
            <div class="card-body">
              <h3 class="card-title">{{this.title}}</h3>
              <h5 class="card-title">${{this.price}}</h5>
              <p class="card-text">{{this.description}}</p>
            </div>
          </div>
        {{/each}}
      {{else}}
        <h2>{{data}}</h2>
      {{/if}}
    </div>

  </div>

  <div class="card mt-5">
    <div class="mt-4">
      <h2>Add new product</h2>
      <h6>On real time</h6>
      <div class="d-flex justify-content-center column">
        <form
          action="/realtimeproducts"
          method="post"
          id="newProductForm"
          enctype="multipart/form-data"
        >
          <div>
            <input
              class="form-control mb-2 col-2"
              type="text"
              placeholder="Title"
              name="title"
              required
            />
            <input
              class="form-control mb-2 col-2"
              type="text"
              placeholder="Description"
              name="description"
              required
            />
            <input
              class="form-control mb-2 col-2"
              type="text"
              placeholder="Code"
              name="code"
              required
            />
            <input
              class="form-control mb-2 col-2"
              type="number"
              placeholder="Price"
              name="price"
              required
            />
            <input
              class="form-control mb-2 col-2"
              type="number"
              placeholder="Stock"
              name="stock"
              required
            />
            <input
              class="form-control mb-2 col-2"
              type="text"
              placeholder="Category"
              name="category"
              required
            />
            <input
              class="form-control mb-2 col-2"
              type="text"
              placeholder="Status"
              name="status"
              required
            />
            <div>
              <input
                class="mt-2 form-control-sm form-control-file"
                type="file"
                name="thumbnail"
                id="thumbnail"
                required
              />
            </div>
          </div>
          <button
            class="m-4 btn btn-success"
            type="submit"
            value="Submit"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{! script which stores all FrontEnd logic }}
<script src="/socket.io/socket.io.js"></script>
<script src="/static/script.js"></script>